{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Beauty Package in Menu</h1>
		</div>
	</div>      
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">  
				<div class="form-group">
					<label for="name"><font color="#FF4500">Name:</font></label>
					<input type ="text" maxlength="50" class="form-control" name="name" id="name"placeholder=" Enter Name of the Package" value="" required="required" data-error="Please enter Package name.">

					<label for="description"><font color="#FF4500">Description:</font></label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" id="description" placeholder="Enter description of the Package" value="" required="required" data-error="Please enter description of the Package"></textarea>

					<label for="price"><font color="#FF4500">Price:</font></label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" id="price" placeholder="Price in $" value="" required="required" data-error="Please enter price of the Beauty Package">
					</div>
					<div class="form-group">
                <label for="picture"><font color="#FF4500">Picture URL:</font></label>
                <input type ="URL" class="form-control" id="picture" maxlength="250" name="picture" placeholder="http://www.example.com" value="" required="required" data-error="Please give url for Beauty Package">
                
            </div>
					<button type="submit" class="btn btn-success" id="submit" type="submit">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Create</font></button>
					<a href = '{{url_for('showMenu', package_id = package_id)}}'>
						<button type="submit" class="btn btn-danger" id="submit" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
					</a>     
				</div>
			</form>       
			
		</div>
	</div>
{% endblock %}   

 