{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="banner main">   
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1><font color="#FF4500">Queens Beauty Places</font></h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>   
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newPackage')}}">
				<button type="button" class="btn btn-danger btn-round-lg btn-lg" id="new-package">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add Beauty Package
				</button>
			</a>
		</div>    
		<div class="col-md-1"></div>
	</div>   
	{% for package in packages %}
		<a href = "{{url_for('showMenu', package_id = package.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 package-list">
						<h3>{{package.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
